/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

app/Actions
app/Console
app/Exceptions/
app/Http
app/Models
app/Providers
bootstrap/
node_modules/
public/assets/
public/user_files/
public/user_files/
storage/
tests/
vendor/
